.ant-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  @media (max-width: 576px) {
    .ant-card {
      font-size: 14px; /* Tamaño de texto reducido */
    }
  }
  